
 <!-- ✅ Reproductor de audio (¡solo uno!) -->
    <audio #audioPlayer preload="auto" loop></audio>

<!-- 🔊 Botón de volumen (opcional) -->
<button 
  *ngIf="mostrarBotonMusica" 
  class="boton-musica" 
  (click)="toggleMute()">
 <!-- {{ isMuted ? '🔇' : '🔊' }}-->
   <img 
    [src]="isMuted ? 'assets/imagenes/pausa.png' : 'assets/imagenes/jugar.png'" 
    alt="icono sonido" 
    class="icono-musica" />
</button>

<!-- Pantalla de bienvenida -->
<div class="pantalla-bienvenida" *ngIf="mostrarBienvenida">
  <div class="contenedor-bienvenida">
    <p class="subtitulo">BIENVENIDOS A LA INVITACIÓN DE</p>
    <h1 class="titulo">Lau y Fer</h1>
    <p class="descripcion">La música de fondo es parte de la experiencia</p>

 <!-- ✅ Botones -->

    <div class="botones">
      <button 
          *ngIf="!hasInteracted" class="btn btn-musica"
          (click)="activarMusica()">
          🎵 Activar música
      </button>
     
      <button (click)="ingresarSinMusica()" class="btn btn-simple">
    <img
      src="assets/imagenes/musica.png"
      alt="Ingresar sin música"
      class="icon-button"
    />
        Ingresar sin música
      </button>
    </div>
  </div>
</div>


<div id="inicio" *ngIf="!mostrarBienvenida">
<!--------------------- abajo resto de la app ----------------->

<section class="bienvenida">
  <div class="imagen-contenedor">
  <div class="overlay">
    <div class="contenido">
    <!--  <p class="fecha">27/09/2025</p>-->

      <div class="iniciales-svg">
  <svg viewBox="0 0 320 160" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <!-- Arco más plano (más abierto) -->
      <path id="arco" d="M 20 120 Q 150 50 280 120" fill="none" />
    </defs>

    <text fill="white" >
      <!-- Centrado real del texto -->
      <textPath href="#arco" startOffset="50%" text-anchor="middle">
        ¡NOS CASAMOS!
      </textPath>
    </text>
  </svg>
</div>
      
      <h2 class="nombres" >Laura </h2>
      <h2 class="nombres" > Y </h2>
      <h2 class="nombres" >Fernando</h2>
     
    </div>
  </div>
  </div>
</section>


<div class="home-container">

<!-------------------- CRONOMETRO -------------------------------------->
<div class="scroll-animado">
  <div class="contenedor-contador">
    
     <p class="mensaje">
        "El amor todo lo puede, todo lo cree, todo lo espera, todo lo soporta."
        <br />
        <span class="cita">– 1 Corintios 13:7</span>
      </p>

  <h1 class="contador-titulo">Faltan</h1>
  <img src="/assets/imagenes/reloj.png" alt="decoración" class="decoracion">
    
  <div class="contador">
    <div class="bloques-tiempo">
      <div class="bloque">
        <div class="valor">{{ dias }}</div>
        <div class="unidad">DÍAS</div>
      </div>
      <div class="bloque">
        <div class="valor">{{ horas }}</div>
        <div class="unidad">HORAS</div>
      </div>
      <div class="bloque">
        <div class="valor">{{ minutos }}</div>
        <div class="unidad">MINUTOS</div>
      </div>
      <div class="bloque">
        <div class="valor">{{ segundos }}</div>
        <div class="unidad">SEGUNDOS</div>
      </div>
    </div>
  </div>
</div>
</div>
  
<h1  class="cuando-y-donde">¿Cuando y Dónde?</h1>

<div class="ubicaciones">
  
  <!-- Tarjeta CEREMONIA -->
<div class="tarjeta">
    <h3 class="titulo">Ceremonia</h3>
    <p class="lugar">Capilla de Nuestra Señora del Rosario de San Nicolás</p>
    <p class="fecha">27 de septiembre de 2025 • 17:30</p>
    <p class="direccion">Salas y Valdez 101, T4107 Yerba Buena, Tucumán</p>

    <div class="mapa-boton">
      <a
        class="btn-mapa"
        href="https://www.google.com/maps/search/?api=1&query=Capilla+Nuestra+Señora+del+Rosario+de+San+Nicolás+Salas+y+Valdez+101+Yerba+Buena+Tucumán"
        target="_blank"
        rel="noopener noreferrer"
      >
        ¿Cómo llegar?
      </a>
    </div>
  </div>

<!-- Tarjeta RECEPCIÓN -->
  <div class="tarjeta">
      <h3 class="titulo">Recepcion</h3>
      <p class="lugar">Salón Keké Yerba Buena</p>
      <p class="fecha">27 de septiembre de 2025 • 19:00</p>
      <p class="direccion">Jorge Luis Borges, Pje. Elvira Imbaud y, Yerba Buena, Tucumán</p>

      <div class="mapa-boton">
        <a
          class="btn-mapa"
          href="https://www.google.com/maps/search/?api=1&query=Salón+Keké+Yerba+Buena+Jorge+Luis+Borges+Pje.+Elvira+Imbaud+Yerba+Buena+Tucumán"
          target="_blank"
          rel="noopener noreferrer"
        >
          ¿Cómo llegar?
        </a>
      </div>
  </div>
</div>

<h2>Informacion de la Fiesta</h2>
<p>Hagamos juntos una fiesta épica. Aquí algunos detalles a tener en cuenta.</p>

<!-- Tarjeta Dress Code -->
<div class="tarjeta">
  <h3 class="titulo">Dress Code</h3>
  <img src="assets/imagenes/pareja-de-boda.png" alt="Dress Code" class="imagen-icono" />
  <p class="oracion">Una orientación para que elijas tu mejor vestuario</p>
  <button class="btn-mapa" (click)="mostrarNubeDressCode = !mostrarNubeDressCode">
    Ver sugerencia
  </button>
  <div *ngIf="mostrarNubeDressCode" class="nube">
    Elegante: Vestimenta formal, ideal para una celebración especial.
  </div>
</div>

<!-------------------------------- MUSICA --------------------------------------------->

<app-cancion></app-cancion>


<!-- Tarjeta Info Adicional -->
<div class="tarjeta">
  <h3 class="titulo">Info Adicional</h3>
  <div class="emoji">💡</div>
  <p class="oracion">Información adicional para tener en cuenta</p>
  <button class="btn-mapa" (click)="mostrarNubeInfo = !mostrarNubeInfo">
    Ver info
  </button>
  <div *ngIf="mostrarNubeInfo" class="nube">
    En caso de lluvia, la celebración continúa normalmente ya que el lugar es techado. ☔
  </div>
</div>

<div class="main-content-wrapper">
  <router-outlet></router-outlet>
</div>



<h2>Retrato de Nuestro Amor</h2>
<p>Un minuto, un segundo, un instante que queda en la eternidad.</p>




<!-- Galería de Fotos -->

<div class="galeria-container">
  <h3 class="titulo">Nosotros y Luli</h3>
  <div class="grid-fotos">
    <img
      *ngFor="let foto of fotos; let i = index"
      [src]="foto"
      (click)="abrirModal(foto)"
      class="foto-animada"
      [style.animationDelay]="(i * 100) + 'ms'"
    />
  </div>
</div>



<!-- Modal de imagen -->

<div class="modal" *ngIf="fotoSeleccionada" (click)="cerrarModal()">
  <button class="modal-close-btn" (click)="cerrarModal()">×</button>

  <button
    class="modal-nav-btn prev"
    (click)="$event.stopPropagation(); modalAnterior()"
  >
    ‹
  </button>

  <div class="modal-content">
<div class="modal-img-wrapper">
    <img [src]="fotoSeleccionada" alt="Foto seleccionada" (click)="$event.stopPropagation()" />
</div>
  </div>

  <button
    class="modal-nav-btn next"
    class="modal-nav-btn next"
    (click)="$event.stopPropagation(); modalSiguiente()"
  >
    ›
  </button>
</div>


<!--------------------------- compartir fotos instagram --------------------->

<h2>Comparte tus fotos</h2>

<div class="hashtag">
  #Lau&Fer2025 #27S #L&F 
</div>
<!---------------- Carrucel automatico ---------------->

<div class="carrusel-auto">
  <div class="carrusel-track">
    <img *ngFor="let foto of fotos" [src]="foto" alt="Foto carrusel" />
    <!-- Duplicamos las fotos para que el loop parezca infinito -->
    <img *ngFor="let foto of fotos" [src]="foto" alt="Foto carrusel duplicada" />
  </div>
</div>

<img src="/assets/imagenes/dos-de-corazones.png" alt="decoración" class="decoracion" />

<h1>Lau & Fer</h1>
<p>27 de septiembre de 2025</p>

</div>

</div>

