.tarjeta {
  background-color: #f2e8e1;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  animation: fadeIn 0.6s ease-in-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  
  

  .titulo {
    font-size: 2.2rem;
  }

}

@media (max-width: 500px) {
    .tarjeta {
      width: 90%;
      margin: 0 auto;
    }
  }


.emoji {
  font-size: 3rem;
  margin: 0.5rem 0;
}

.oracion {
  font-style: italic;
  color: #666;
  margin-bottom: 1rem;
}

.btn-mapa {
  background-color: #8D4F32;
    color: white;
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
    display: inline-block;
    text-decoration: none;
    margin-top: 1rem;
    width: 100%;
   max-width: 300px;
    
}

.btn-mapa:hover {
  background-color: #a34e4e;
}

.form-cancion {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;

  input {
    width: 100%;
    max-width: 300px;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 1rem;
    text-align: center; 
    margin-top: 0.8rem; 
  }

  button[type='submit'] {
  background-color: #b85d5d;
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  display: inline-block;
  text-decoration: none;
  margin-top: 1rem;
  
}

  button[type='submit']:hover {
  background-color: #a34e4e;
}

  button[disabled] {
    background-color: #a34e4e;
    cursor: not-allowed;
  }
}

.imagen-icono {
  width: 80px;
  height: auto;
  margin: 1rem auto;
  display: block;
}


/* ANIMACIONES DE ENTRADA */
.reveal {
  opacity: 0;
  transform: translateY(50px); // cambia a X si querés que entre desde un costado
  transition: opacity 0.8s ease, transform 0.8s ease;
  will-change: opacity, transform;
}




.reveal-left {
  transform: translateX(-50px);
}
.reveal-right {
  transform: translateX(50px);
}
.reveal-up {
  transform: translateY(50px);
}
.reveal-down {
  transform: translateY(-50px);
}





.reveal.active {
  opacity: 1;
  transform: translateY(0);
}



.reveal-blur {
  opacity: 0;
  filter: blur(6px);
  transition: 
    opacity 1s ease-out,
    filter 1s ease-out;
}

.reveal-blur.active {
  opacity: 1;
  filter: blur(0);
}
