@font-face {
  font-family: 'KingsguardCalligraphy';
  src: url('./assets/fonts/KingsguardCalligraphy.otf') format('opentype');
      //  url('./assets/fonts/KingsguardCalligraphy-Regular.woff') format('woff'),
       // url('./assets/fonts/KingsguardCalligraphy-Regular.ttf') format('truetype');
  font-weight: normal; // ¡Corregido!
  font-style: normal;  // ¡Corregido!
  font-display: swap;  // ¡Corregido!
}



// --- Fuente 2: Distant Stroke ---
@font-face {
  font-family: 'Blacksword.otf'; /* Dale un nombre claro y único a esta nueva fuente */
  src: url('./assets/fonts/Blacksword.otf') format('opentype');
  font-weight: normal; /* Asume que es normal a menos que tengas variantes */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Greatvibes-Regular.ttf'; /* Dale un nombre claro y único a esta nueva fuente */
  src: url('./assets/fonts/Greatvibes-Regular.woff2') format('TrueType Font');
  font-weight: normal; /* Asume que es normal a menos que tengas variantes */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ms Madi'; /* Dale un nombre claro y único a esta nueva fuente */
  src: url('./assets/fonts/MsMadi-Regular.ttf') format('truetype');
  font-weight: normal; /* Asume que es normal a menos que tengas variantes */
  font-style: normal;
  font-display: swap;
}


html,
body {
  max-width: 100%; /* Limita el ancho máximo al 100% del viewport */
  overflow-x: hidden; /* Oculta cualquier contenido que se desborde horizontalmente */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url('/assets/imagenes/Bien venidos.jpg');
  background-size: cover;       // o "contain" si preferís que no se recorte
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; // esto hace que el fondo quede fijo al hacer scroll
 
  // Si notas algún problema con el posicionamiento de elementos fijos o absolutos,
  // a veces es útil añadir:
  // position: relative;
  //font-family: 'KingsguardCalligraphy', cursive;
  //font-family: 'Distant_Stroke.otf';
  //font-family: 'Blacksword.otf'cursive;
}